@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap%27");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-thumb {
  background-color: #87ceeb;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #87ceeb;
}
